@layer utilities {
	.prose {
		h1 {
			@apply mt-8 mb-4 text-4xl font-bold;
		}
		h2 {
			@apply mt-6 mb-3 text-3xl font-bold;
		}

		h3 {
			@apply mt-5 mb-2 text-2xl font-semibold;
		}

		h4 {
			@apply mt-4 mb-2 text-xl font-semibold;
		}

		h5 {
			@apply mt-3 mb-2 text-lg font-medium;
		}

		h6 {
			@apply mt-3 mb-2 text-base font-medium;
		}

		p {
			@apply my-4 leading-relaxed;
		}

		a {
			@apply text-blue-600 underline hover:text-blue-800;
		}

		ul,
		ol {
			@apply my-4 ml-6;
		}

		ul {
			@apply list-disc;
		}

		ol {
			@apply list-decimal;
		}

		li {
			@apply my-2;
		}

		blockquote {
			@apply my-4 border-l-4 border-neutral-300 pl-4 italic;
		}

		code {
			@apply bg-accented/50 rounded px-1 py-0.5 font-mono text-sm;
		}

		pre {
			@apply border-accented/40 my-4 overflow-x-auto rounded border-2;

			code {
				@apply bg-transparent;
			}
		}

		img {
			@apply my-4 rounded;
		}

		table {
			@apply my-4 w-full border-collapse;
		}

		th,
		td {
			@apply border border-neutral-300 px-4 py-2;
		}

		th {
			@apply bg-accented/50 font-semibold;
		}

		hr {
			@apply my-8 border-neutral-300;
		}

		@import 'highlight.js/styles/github.css';
		@media (prefers-color-scheme: dark) {
			@import 'highlight.js/styles/github-dark.css';
		}

		:is(.dark *) {
			@import 'highlight.js/styles/github-dark.css';
		}
	}
}
